.chat-interface {
  display: flex;
  width: 100%;
  height: 90vh;
}
.chat-contacts {
  //   width: 25%;
  background-color: #fff;
  padding: 10px;
  border-right: 1px solid #ddd;
  margin-top: 40px;
  margin: 40px 20px 20px 30px;
  height: 92vh;

  img {
    border-radius: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 10px;
    cursor: pointer;

    font-family: rebondBook;
    border-bottom: solid 1px #e7e7e7;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
.chat-contacts li.active {
  background-color: #0098da;
  color: white;
  font-weight: bold;
  border-radius: 12px;
}
.chat-window {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin: 40px 20px 20px 65px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  margin-bottom: 5px;
}

.input-box input {
  flex: 1;
  padding: 5px 20px;
  font-family: rebondBook;
  border: none;
  width: 100%;
}

.input-box button {
  padding: 10px;
}
.no-messages {
  text-align: center;
  color: #888;
  font-style: italic;
  margin: 20px 0;
}
.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.message.sent {
  background-color: #cef0ff;
  color: #000;
  border-radius: 20px;
  align-self: flex-end;
  text-align: right;
}

.message.received {
  align-self: flex-start;
  text-align: left;
  background-color: #f7f7f7;
  border-radius: 20px;
  color: #000;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  flex: 1;
  //   max-height: 400px; /* Adjust based on your layout */
}

.input-box {
  display: flex;
  gap: 10px !important;
  margin-top: 10px;
  border: solid 1px #e7e7e7;
  border-radius: 36px;
  padding: 5px 10px;
}
/* Recording button styles */
.record-button {
  background-color: #fff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border: solid 1px #e7e7e7;
  margin-top: 20px;
  font-size: 12px;
}

.record-button.recording {
  background-color: #ff4d4d;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.send-msg {
  margin-top: 4px;
  color: #0098da;
  font-family: rebondG-Medium !important;
  cursor: pointer;
}
