.vertical-tab {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: scroll;
  display: flex;
  .tab-list {
    font-family: rebondBook;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;

    .tab-item {
      padding: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background: #e9ecef;
      }

      &.active {
        background: #e0f7fa;
      }
    }
  }
  .tab-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #e0e0e0;
    background-color: #e9ecef;

    .header-subject {
      flex: 1;
      text-align: left;
    }

    .header-teacher {
      flex: 1;
      text-align: left;
    }
  }
  .tab-content {
    font-family: rebondBook;
    padding: 10px;
    background: #ffffff;
    ul {
      li {
        margin-bottom: 20px;
      }
    }
    h3 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      color: #333;
    }
  }
}
.vertical-tab::-webkit-scrollbar {
  display: none;
}
