.subject-table {
  td,
  th {
    font-family: rebondBook;
    text-align: center;
  }
  .vertical-td {
    // writing-mode: vertical-rl;
    transform: rotate(90deg);
    font-weight: bold;
    color: #333;
    margin: auto;
    height: 100%;
  }
}
