.subject-table {
  td,
  th {
    font-family: rebondBook;
    text-align: center;
  }
  tr {
    height: 20px;
  }
  .vertical-td {
    writing-mode: vertical-rl;
    font-weight: bold;
    color: #333;
    height: 100%;
  }
}
