.subject-table {
  margin-bottom: 50px;
  td,
  th {
    font-family: rebondBook;
    text-align: center;
    font-size: 14px;
  }
  td {
    height: 35px !important;
  }
  tr {
    padding-top: 10px !important;
  }
  .vertical-td {
    writing-mode: vertical-lr;
    color: #333;
    margin: auto;
    height: 100%;
    padding: 0;
  }
}
