.subject-table {
  td,
  th {
    font-family: rebondBook;
    text-align: center;
  }
  td {
    height: 30px !important;
  }
  .vertical-td {
    writing-mode: vertical-rl;

    font-weight: bold;
    color: #333;
    margin: auto;
    height: 100%;
  }
}
