.subject-table {
  td,
  th {
    font-family: rebondBook;
    text-align: center;
  }
  .vertical-td {
    writing-mode: vertical-rl;
    font-weight: bold;
    color: #333;
    margin: auto;
    height: 100%;

    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
