.bottom-nav {
  padding: 0px 5px 0px 5px;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  position: fixed;
  background: #fff;
  background: red;
  height: 60px;
  text-align: center;
  img {
    height: 17px;
    width: 17px;
  }
  a {
    color: #7f8384;
    font-size: 12px;
    text-decoration: none;
    span {
      font-size: 18px;
    }
  }
  li {
    margin: 10px;
  }
  .active {
    color: #0098da;
  }
}
