.bottom-nav {
  padding: 2px 10px 40px 10px;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  position: fixed;
  background: #fff;
  text-align: center;
  top: 1150px !important;
  a {
    color: #7f8384;
    font-size: 12px;
    span {
      font-size: 18px;
    }
  }
  li {
    margin: 10px;
  }
  .active {
    color: #0098da;
  }
}
