.bottom-nav {
  padding: 8px 10px 60px 10px;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  position: fixed;
  text-align: center;
  a {
    color: #7f8384;
    font-size: 12px;
    margin: 5px;
  }
}
