.feedbacks-div {
  padding: 0px 10px;
  .add-feedback-btn {
    margin-top: 30px;
    border: solid 1px #e7e7e7;
    border-radius: 6px;
    background: #fff;
    color: #191919;
    font-family: rebondBook;
    padding: 5px 10px;
  }
}
.heading {
  padding-top: 10px;
}
