.feedbacks-div {
  padding: 0px 20px;
  margin-bottom: 90px;
  .add-feedback-btn {
    margin-top: 30px;
    border: solid 1px #414244;
    border-radius: 6px;
    background: #0098da;
    color: #fff;
    font-family: rebondBook;
    padding: 5px 10px;
    border-radius: 100px;

    &:hover {
      background: #005b83;
    }
  }
}
.heading {
  padding-top: 10px;
}
.feed-bk-table {
  border: solid 1px #e7e7e7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.feed-back-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  textarea {
    width: 100% !important;
  }
  h6 {
    margin-top: 20px;
  }
  input {
    border: solid 1px #e7e7e7;
    padding: 7px 20px;
    width: 100%;
    border-radius: 6px;
    font-family: rebondBook;
  }
  textarea {
    border: solid 1px #e7e7e7;
    padding: 7px 20px;
    width: 100%;
    border-radius: 6px;
    font-family: rebondBook;
    min-height: 120px;
  }
  .feed-back-btns {
    font-family: rebondBook;
    button {
      margin: 5px;
      border-radius: 100px;
      padding: 4px 15px;
    }
    .cancel-btn {
      border: 1px solid var(--100-cecfd0);
      background: #ffffff 0% 0%;
      &:hover {
        background: solid 1px #e7e7e7;
        border: solid 1px #414244;
        color: #414244;
      }
    }
    .submit-btn {
      background: #0098da 0% 0% no-repeat padding-box;
      border: 1px solid #414244;
      color: #fff;
      &:hover {
        background: #005b83 0% 0% no-repeat padding-box;
        border: 1px solid #414244;
      }
    }
  }
}
