.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: montSB;
  src: url(./assets/fonts/mont/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montR;
  src: url(./assets/fonts/mont/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montM;
  src: url(./assets/fonts/mont/Montserrat-Medium.ttf);
}
@font-face {
  font-family: montB;
  src: url(./assets/fonts/mont/Montserrat-Bold.ttf);
}
@font-face {
  font-family: teachersM;
  src: url(./assets/fonts/teachers/Teachers-Medium.ttf);
}
