.file-upload-div {
  border: dashed 1px #e7e7e7;
  border-radius: 10px;
  padding: 5px 10px;
  label {
    background-color: #fff;
    color: #0098da;
    cursor: pointer;
    font-family: rebondG-Medium;
    text-decoration: underline;
    margin-top: 7px;
  }
  p {
    margin-top: 7px;
  }
}
