.my-children-view {
  padding: 0 10px;
  .tabs {
    display: flex;
    width: 100%;
    padding: 8px 13px;
    font-family: rebondG-Bold;
  }

  .active-component {
    font-weight: bold;
    background: #e6f7ff;
    color: #fff;
    border: solid 1px #0098da;
    height: 78px;
    border-radius: 10px;
  }

  .panel {
    display: none;
    // color: #161617;
    // font-family: rebondG;
    // line-height: 40px;
    // padding-top: 65px;
    // background: #fff;
  }

  .panel.active2 {
    display: block;
  }
}

.children-div {
  height: 78px !important;
  padding: 20px 10px;
  margin-bottom: 10px;
  color: #000;
  border: solid 1px #e7e7e7;
  border-radius: 10px;
  &:hover {
    background: #e7e7e7;
  }
  img {
    border-radius: 100%;
    margin-right: 10px;
  }
  h6 {
    margin-bottom: 0;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
.attendance-summary {
  padding: 15px;
}
.attendance {
  height: 50px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  img {
    border-radius: 100%;
    margin-right: 10px;
  }
}
.missed {
  border: solid 2px #ed2f59;
  background: #fcdce3;
  color: #ed2f59;
}
.late {
  border: solid 2px #ea8713;
  background: #fcebd7;
  color: #ea8713;
}
.present {
  border: solid 2px #11a377;
  background: #cdfaec;
  color: #11a377;
}
.activity-tab {
  padding: 10px;
  .tabs2 {
    border: solid 1px #e7e7e7;
    border-radius: 10px;
    padding: 0px 0px;
    margin-bottom: 15px;
    button {
      background: #fff;
      border: none;
      padding: 6px 18px;
      font-family: rebondG-Semi-Bold;
    }
  }
  .edge {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .edge2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.active3 {
  background: #0098da !important;
  color: #fff;
}
.file-input {
  padding: 10px;
}
.documents {
  img {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 0px;
  }
  small {
    font-size: 13px;
    color: grey;
  }
}
.teacher-subjects {
  p {
    &:hover {
      background: red;
    }
  }
}
