.app-table {
  tr {
    cursor: pointer;
    th {
      font-family: rebondG-Medium;
    }
    td {
      font-family: rebondBook !important;
    }
  }
  --bs-table-bg-type {
    background: red !important;
  }
}
