.app-table {
  tr {
    cursor: pointer;
    th {
      font-family: rebondG-Medium;
    }
    td {
      font-family: rebondBook !important;
      @media screen and (max-width: 820px) {
        font-size: 12px;
      }
    }
  }

  --bs-table-striped-bg: #f9fafb;
}
