.app-table {
  tr {
    cursor: pointer;
    th {
      font-family: rebondG-Medium;
    }
    td {
      font-family: rebondBook !important;
    }
  }
  --bs-table-striped-bg {
    background: red !important;
  }
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
}
