.app-table {
  tr {
    cursor: pointer;
    th {
      font-family: rebondG-Medium;
    }
    td {
      font-family: rebondBook !important;
      @media screen and (max-width: 820px) {
        font-size: 12px;
      }
    }
  }

  --bs-table-striped-bg: #f9fafb;
  .status-label {
    border-radius: 11px;
    font-size: 10px;
    padding: 0 5px;
    &.status-conducted {
      color: #fff;
      background-color: #28a745; // Green for conducted
    }

    &.status-published {
      color: #fff;
      background-color: #007bff; // Blue for published
    }

    &.status-default {
      color: #fff;
      background-color: #343a40; // Black for not conducted or not published
    }
  }
}
