.side-nav-div {
  // background: red;
  border-right: 1px solid #e7e7e7;
  a {
    color: #191919;
    font-size: 16px;
  }
  .accordion-button {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 16px;
    font-family: rebondG-Medium;
  }
  .accordion-button::after {
    margin-left: 30px;
    // width: 10px;
    // height: 10px;
  }
  .accordion-item {
    border: none !important;
  }
}
