.side-nav-div {
  .nav-inner {
    padding: 25px 5px 5px 10px;
    display: flex;
    align-items: center;
  }
  border-right: 1px solid #e7e7e7;
  a {
    color: #191919;
    font-size: 16px;
  }
  li {
    background: red;
    padding: 5px 0 5px 5px;
    line-height: 10px;
  }
  .accordion-button {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: 16px;
    font-family: rebondG-Medium;
    font-weight: normal !important;
    background: red !important;
  }
  .accordion-body {
    border-left: 1px solid #e7e7e7;
    margin-top: 20px;
  }
  .accordion-button:not(.collapsed) {
    border-bottom: 0 !important;
  }
  .accordion-button::after {
    display: none;
    // width: 10px;
    // height: 10px;
  }
  .accordion-item {
    border: none !important;
  }
  .link-slide {
    transform: translateY(20px); /* Adjust this value for the slide distance */
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
  }

  .link-slide-active {
    transform: translateY(0);
    opacity: 1;
  }
}
