.mobile-table-container {
  border-bottom: solid 1px #e7e7e7;
  padding-bottom: 12px;
  h6 {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #191919;
  }
  small {
    font-size: 12px;
    color: #7f8384;
  }
  span {
    margin-right: 4px;
    margin-left: 4px;
    color: #191919;
    font-size: 14px;
  }
  button {
    padding: 0;
    border: none;
    background: inherit;
    font-size: 10px;
    border-radius: 10px;
  }
  &.odd-row {
    background-color: #f9f9f9;
  }

  &.even-row {
    background-color: #ffffff;
  }
  .status-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: default;

    &.status-conducted {
      color: #fff;
      background-color: #28a745; // Green
    }

    &.status-published {
      color: #fff;
      background-color: #007bff; // Blue
    }

    &.status-default {
      color: #fff;
      background-color: #343a40; // Black
    }
  }
}
