.calender-div {
  padding: 10px;
  .event1 {
    border-left: solid 2px #da0032;
  }
  .event2 {
    border-left: solid 2px #08b529;
  }
  p {
    font-size: 14px;
    padding-left: 5px;
  }
  img {
    transform: rotate(20deg);
  }
}
