.side-nav-div {
  background: rgb(255, 255, 255);
  padding: 0 !important;

  .nav-inner {
    padding: 25px 5px 5px 10px;
    display: flex;
    align-items: center;
  }
  border-right: 1px solid #e7e7e7;
  a {
    color: #191919;
    font-size: 14px;

    border-radius: 6px;
  }
  ul {
    // background: red;
    li {
      margin: 5px 15px !important;
      padding: 8px 10px 8px 5px;
      &:hover {
        border-radius: 6px;

        background: #fafafa;
      }
    }
  }
  .list-group-item {
    margin: 5px 15px !important;
    padding: 8px 10px 8px 5px;
    border: none;
    &:hover {
      border-radius: 6px;

      background: #fafafa;
    }
  }
  ol {
    // background: red;
    li {
      &:hover {
        background: #fafafa;
        border-radius: 6px;
      }
    }
  }
  .accordion-button {
    padding: 3px 0 3px 0px !important;
    margin-left: 0 !important;
    font-size: 14px;
    font-family: rebondG-Medium !important;

    background: transparent !important;
    width: 100%;
  }
  .accordion-body {
    border-left: 1px solid #e7e7e7;
    margin-top: 20px;
    padding: 0 !important;
    ol {
      li {
        font-size: 10px;
      }
    }
  }
  .accordion-button:not(.collapsed) {
    border-bottom: 0 !important;
    width: 100%;
  }
  .accordion-button::after {
    display: none;
  }
  .accordion-item {
    border: none !important;
  }
  .active-link {
    color: #0098da; /* Change to your desired active link color */
    font-weight: bold;
    padding: 8px 10px 8px 5px;
    font-size: 14px;
    background-color: #e6f7ff;
    width: 100% !important;
  }
}
.link-span {
  width: 100% !important;
}
