.side-nav-div {
  background: rgb(250, 248, 248);
  padding: 0 !important;
  .nav-inner {
    padding: 25px 5px 5px 10px;
    display: flex;
    align-items: center;
  }
  border-right: 1px solid #e7e7e7;
  a {
    color: #191919;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
  }
  ul {
    // background: red;
    li {
      margin: 22px 15px !important;
      &:hover {
        background: #e7e7e7;
        border-radius: 6px;
      }
    }
  }
  ol {
    // background: red;
    li {
      margin: 12px 5px !important;
      &:hover {
        background: #e7e7e7;
        border-radius: 6px;
      }
    }
  }
  .accordion-button {
    padding: 3px 0 3px 0px !important;
    margin-left: 0 !important;
    font-size: 16px;
    font-family: rebondG-Medium;
    font-weight: normal !important;
    &:hover {
      background: red;
    }
    // background: red !important;
  }
  .accordion-body {
    border-left: 1px solid #e7e7e7;
    margin-top: 20px;
    padding: 0 !important;
    ol {
      li {
        font-size: 10px;
      }
    }
  }
  .accordion-button:not(.collapsed) {
    border-bottom: 0 !important;
  }
  .accordion-button::after {
    display: none;
    // width: 10px;
    // height: 10px;
  }
  .accordion-item {
    border: none !important;
  }
  .active-link {
    color: #007bff; /* Change to your desired active link color */
    font-weight: bold; /* Optional: make the text bold */
    background-color: rgba(
      0,
      123,
      255,
      0.1
    ); /* Optional: add a background color */
  }
}
