.side-nav-div {
  background: rgb(255, 255, 255);
  padding: 0 !important;
  padding-left: 20px;
  .nav-inner {
    padding: 25px 5px 5px 20px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 820px) {
      padding: 0px 5px 5px 10px;
    }
  }
  border-right: 1px solid #e7e7e7;
  @media screen and (max-width: 820px) {
    border-right: none;
  }
  a {
    color: #191919;
    font-size: 16px;
    font-family: rebondG-Medium;
    border-radius: 6px;
  }

  ul {
    li {
      &:hover {
        border-radius: 6px;

        background: #fafafa;
      }
    }
  }
  .list-group-item {
    margin: 10px 22px !important;
    padding: 8px 10px 8px 5px;
    border: none;
    &:hover {
      border-radius: 6px;

      background: #fafafa;
    }
  }
  ol {
    // background: red;
    li {
      &:hover {
        background: #fafafa;
        border-radius: 6px;
      }
    }
  }
  .accordion-button {
    padding: 3px 0 3px 0px !important;
    margin-left: 0 !important;
    font-size: 16px;
    font-family: rebondG-Medium !important;

    background: transparent !important;
    width: 100% !important;
  }
  .accordion-body {
    border-left: 1px solid #e7e7e7;
    margin-top: 20px;
    padding: 0 !important;
    ol {
      li {
        font-size: 10px;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .accordion-button:not(.collapsed) {
    border-bottom: 0 !important;
    width: 100% !important;
  }
  .accordion-button::after {
    display: none;
  }
  .accordion-item {
    border: none !important;
  }
  .active-link {
    color: #0098da !important; /* Change to your desired active link color */
    font-weight: bold;
    padding: 10px 10px 10px 7px;
    font-size: 16px;
    background-color: #e6f7ff;
    width: 100% !important;
  }
  .accordion-button {
    display: flex; // Flexbox for alignment
    justify-content: space-between; // Text on the left, icon on the right
    align-items: center; // Vertical alignment
    text-align: left; // Ensure text aligns left
    width: 180px !important; // Full-width to avoid wrapping
    padding: 8px 10px; // Adjust padding as needed
    background: transparent; // Keep background clean
    border: none; // Remove unnecessary borders
    outline: none; // Clean focus styles
    &:hover {
      background: #fafafa !important;
    }
  }

  .accordion-button span:last-child {
    margin-left: auto; // Push the icon to the far right
    display: flex; // Flex container for icon alignment
    align-items: center; // Center icon vertically
    justify-content: center; // Center icon horizontally (optional)
  }

  .accordion-button:not(.collapsed) {
    background: transparent;
    width: 180px !important;

    background: #e6f7ff !important; // Maintain background consistency
  }
}
.link-span {
  width: 100% !important;
}
.offcanvas {
  width: 75% !important;
}
