.empty-record {
  padding-top: 130px;
  h6 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  p {
    font-size: 14px;
    color: #7f8384;
  }
  img {
    background: red;
  }
}
