.empty-record {
  padding-top: 130px;
  h6 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  p {
    font-size: 14px;
    color: #7f8384;
  }
  .img-div {
    width: 68px;
    height: 68px;
    background: #f0f9fd 0% 0% no-repeat padding-box;
    border-radius: 100%;
    padding-top: 18px;
  }
}
.pastoral-table {
  padding: 20px;
  min-height: 500px;
}
.pastoral-div {
  padding: 20px;
}
