.news-box {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  .reactions {
    small {
      margin-right: 20px;
      span {
        color: grey;
      }
    }
    strong {
      margin-left: 2px;
      margin-right: 3px;
    }
  }
  small {
    color: grey;
    // margin-bottom: 20px;
    font-size: 12px;
  }
  h6 {
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
  }
}
