.news-box {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  .reactions {
    small {
      margin-right: 20px;
      span {
        color: grey;
      }
    }
    strong {
      margin-left: 2px;
      margin-right: 3px;
    }
  }
  small {
    color: grey;
    // margin-bottom: 20px;
    font-size: 12px;
  }
  h6 {
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  .comments-section2 {
    margin-top: 10px;
  }

  .comment {
    margin-bottom: 0px;
    padding: 10px;
    background-color: #fff;

    strong {
      display: block;
      color: #007bff;
    }

    small {
      display: block;
      color: #666;
      margin-bottom: 5px;
      font-size: 12px;
    }

    p {
      margin: 0;
      color: #333;
    }
  }
  .comment-reactions {
    margin-top: 5px;

    .like-button {
      background: none;
      border: none;
      color: #007bff;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    img {
      border: solid 2px #e7e7e7;
    }
  }
  .comment-input::after {
    content: "";
    position: absolute;
    top: 100%; /* Start the line from the bottom of the input field */
    left: 7%; /* Center it horizontally */
    width: 1px; /* Line thickness */
    height: 17px; /* Height of the line */
    background-color: #ccc; /* Line color */
    transform: translateX(-50%); /* Center the line horizontally */
  }
  .comment-avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.comment-input {
  display: flex;
  // margin-top: 10px;
  position: relative; /* To position the line correctly */
  margin-bottom: 20px;

  .input-holder {
    border: solid 1px #e7e7e7;
    padding: 0px 10px;
    border-radius: 20px;
    input {
      flex: 1;
      padding: 8px;
      font-family: rebondBook !important;
      height: 30px;
      border: none;
      border-radius: 20px;
    }
    button {
      color: #0098da;
      border: none;
      background: none;
      padding: 0 !important;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
.post-like-button {
  border: none;
  background: #fff;
  font-size: 12px;
  color: grey;
}
