.select-container {
  padding: 5px;
  img {
    border: solid 1px #fff !important;
  }
  select {
    width: 100% !important;
    border: none !important;
  }
  @media screen and (max-width: 820px) {
    width: 100% !important;
  }
}
