.input-div {
  border: solid 1px #e7e7e7;
  border-radius: 6px;
  margin-right: 10px;
  padding: 4px 10px;
  input {
    border: none;
    background: #fff;
    color: #191919;
    font-family: rebondBook;
  }
}
