.album-grid,
.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.album-cover {
  width: 100%;
  cursor: pointer;
}

.photo-thumbnail {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.photo-thumbnail:hover {
  transform: scale(1.05);
}

.modal-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-photo {
  //   max-width: 90%;
  //   max-height: 80vh;
}

.nav-button {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}
